# General
.DS_Store
Thumbs.db

# Logs
*.log

# Android specific
Android/.gradle/
Android/.idea/
Android/build/
Android/app/build/
Android/local.properties
Android/*.iml
Android/.vscode/
Android/.settings/
Android/.externalNativeBuild/
Android/.cxx/
Android/captures/
Android/output.json
Android/.navigator/

# Android NDK
**/obj/
**/bin/
**/gen/

# Android Studio
.idea/
*.iml

# Keystore files
*.jks
*.keystore

# Flutter (if applicable)
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/pubspec.lock
**/.packages
**/build/

# iOS specific
IOS/Pods/
IOS/build/
IOS/DerivedData/
IOS/*.xcworkspace
IOS/*.xcuserdata
IOS/*.xcuserdatad/
IOS/*.mode1v3
IOS/*.pbxuser
IOS/.DS_Store

# Xcode
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Temporary and backup files
*.tmp
*.swp
*~

# macOS specific
*.DS_Store
*.AppleDouble

